
.profile-card {
  padding: 0 !important; margin-bottom: 0.8rem;
}

.profile-card .profile-cover {
  background-position: 0 50%;
  background-size: cover;
  background-color: #48aae6;
  border-radius: 4px 4px 0 0;
  height: 6rem;
}

.profile-data { padding-top: 3.125rem; position: relative; }

.profile-stats { padding: 0.9375rem; }
.profile-stats-list {
  margin: 0; padding: 0;
  list-style-type: none;
  display: flex;
}

.profile-stats-item { flex: 1; cursor: pointer; }
.profile-stats-item > * { display: block; }
.profile-stats-item > .type {
  color: #66757f; font-weight: bold;
  font-size: 0.75rem; line-height: 1.375rem;
  transition: all .15s ease-in-out;
}
.profile-stats-item:hover > .type { color: #1b95e0; }
.profile-stats-item > .value {
  font-weight: bold;
  color: #1b95e0;
}

.profile-handle {
  position: absolute;
  top: 0.75rem; left: 6.25rem;
}
.profile-handle > * { display: block; }
.profile-handle > .name { font-weight: bold; }
.profile-handle > .handle { font-size: 0.875rem; color: #66757f; }

.profile-data .avatar-circle {
  position: absolute;
  top: -1.875rem; left: 0.625rem;
  border: 0.1825rem solid #fff;
}
