.search-form > form { position: relative; }

.search-inp {
  padding: 7px 15px;
  border: 2px solid #e6ecf073;
  background-color: #f5f8fa;
  min-width: 230px; border-radius: 100px;
  font-size: 75%; color: #333;
  padding-right: 35px;

  transition: all .2s ease-in-out;
}
.search-inp::placeholder { color: #aaa; font-size: 90%; }

.search-inp:focus {
  border: 2px solid #1b95e0;
  background-color: #fff;
}
.search-inp:focus::placeholder { color: #bbb; }

.search-btn {
  position: absolute; right: 12px; top: 50%;
  transform: translateY(-50%);
  background: transparent; color: #999;
  cursor: pointer;
}
.search-inp:focus + .search-btn { color: #1b95e0; }
