
.trends {}

.opcard-header { display: flex; align-items: center; }
.opcard-header > .title {
  font-weight: bold; font-size: 1.125rem;
}
.opcard-header > .text-link {
  margin-left: 0.625rem; position: relative;
}
.opcard-header > .text-link:before {
  content: '\B7';
  position: absolute; left: -0.45em;
  font-size: 1.2em; color: #bbb;
}

.trend-item {
  margin: 0.75rem 0; line-height: 1.125rem;
  font-size: 0.875rem;
}
.trend-item > span { display: block; }
.trend-item > .trend-hash {
  font-weight: bold; color: #1b95e0;
  cursor: pointer;
}
.trend-item > .trend-text {}
.trend-item > .trend-stats {
  font-size: 0.6875rem; color: #66757f;
}

.trends-list {}
